/* taken from https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6 */
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-card {
  display: inline-block;
  width: 33%;
  height: auto;
  cursor: pointer;
}

.scrolling-card:hover {
  background: lightblue;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: lightblue;
}

.selected {
  background: deepskyblue;
}

.vertical-center {
  min-height: 70%; /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
